@import url('fonts.css');
@import url('https://webonastick.com/yaf/normalize-8.0.1.css');
@import url('https://webonastick.com/yaf/yaf-global-styles.css');
@import url('https://webonastick.com/yaf/yaf-typography.css');
@import url('https://webonastick.com/yaf/yaf-forms.css');
@import url('https://webonastick.com/yaf/yaf-helpers.css');
@import url('https://webonastick.com/yaf/yaf-xy-grid.css');

html {
    font-family: 'DSE Typewriter web font';
    line-height: 1.0;
}
@media (min-width: 600px) {
    body {
        font-size: 18px;
    }
    /* leave font-size on <html> alone */
}
code, pre, kbd, samp {
    font-family: 'DSE Typewriter web font';
}
pre {
    overflow-x: auto;
    background-color: #eee;
    padding: 0.5rem 2ch;
    box-sizing: border-box;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}
h1 {
    font-size: 200%;
    color: red;
    text-decoration: underline;
}
h2 {
    font-size: 200%;
    color: red;
}
h3 {
    font-size: 200%;
}
h4 {
    font-size: 100%;
    text-decoration: underline;
}
h5 {
    font-size: 100%;
    text-decoration: underline;
}
h6 {
    font-size: 100%;
    text-decoration: underline;
}
textarea.textarea-font-trial-text {
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    box-sizing: border-box;
}
.font-trial-text {
    transition: font-size 0.25s;
}
ul.typewriter {
    list-style: none;
    margin-left: 2ch;
    padding-left: 0;
}
ul.typewriter > li {
    position: relative;
}
ul.typewriter > li::before {
    position: absolute;
    top: 0;
    left: -2ch;
    content: '*';
}

table {
    margin-top: 0;
    margin-bottom: 1rem;
    border-collapse: collapse;
}
table > * > * > td,
table > * > * > th {
    padding: 0 2ch 0 0;
}
table > * > * > th {
    text-align: left;
}
table > thead {
    vertical-align: bottom;
}
table > tbody {
    vertical-align: baseline;
}
.breadcrumbs ul {
    list-style: none;
    margin-left: 0;
}
.breadcrumbs ul > li {
    display: inline-block;
    margin-bottom: 0;
}
.breadcrumbs ul > li + li::before {
    content: '>';
}

@media (min-width: 600px) {
    table.data-table {
        margin-left: 4ch;
    }
}
@media (min-width: 960px) {
    table.main-glyph-table {
        font-size: 133.333333%;
        margin-left: 3ch;
    }
    table.compact-glyph-table {
        font-size: 133.333333%;
        margin-left: 3ch;
    }
}
table.data-table th {
    font-weight: normal;
    vertical-align: bottom;
}
table.data-table td,
    vertical-align: baseline;
}
table.data-table {
    table-layout: fixed;
}
table.compact-glyph-table > * > tr > *:not(:first-child) {
    width: 3ch;
}
table.data-table thead + tbody {
    margin-top: -2px;
    border-top: 2px solid black;
}

/* oldstyle figures */
.onum {
    font-feature-settings: "onum" 1;
}

/* slashed zero */
.zero {
    font-feature-settings: "zero" 1;
}

/* dotless zero */
.cv01 {
    font-feature-settings: "cv01" 1;
}

/* dollar sign with two vertical lines */
.cv02 {
    font-feature-settings: "cv02" 1;
}

/* lowercase-L shaped one */
.cv03 {
    font-feature-settings: "cv03" 1;
}

/* i and l with lower serif only to the right */
.ss05 {
    font-feature-settings: "ss05" 1;
}

.onum-cv01-cv03 {
    font-feature-settings: "onum" 1, "cv01" 1, "cv03" 1;
}
.onum-zero {
    font-feature-settings: "onum" 1, "zero" 1;
}
.onum-cv01 {
    font-feature-settings: "onum" 1, "cv01" 1;
}
.cv01-cv03 {
    font-feature-settings: "cv01" 1, "cv03" 1;
}

.grid-container-main {
    padding-top: 1rem;
}
.grid-container-breadcrumbs {
    padding-top: 1rem;
}

tr.combined-ss {
    color: blue;
}

header {
    border-bottom: 1px solid black;
}
header nav .site-title {
    display: inline-block;
}
header nav ul {
    display: inline-block;
    margin-left: 0;
    list-style: none;
}
header nav ul li {
    display: inline-block;
}
header nav ul li::before {
    content: '*';
}

tr.is-not-covered {
    background-color: rgba(255, 0, 0, 0.125);
    text-decoration-line: line-through;
    text-decoration-color: rgba(255, 0, 0, 0.5);
    text-decoration-style: solid;
    text-decoration-thickness: 1px;
}
